#gameWrapper{
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.gamediv{
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 8px;
  background-color: gray;
}
.gamediv h1, h2{
  font-size: 20px;
}

.favorit{
  background-color: green;
}
.hidden{
    display: none;
}
